@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet');

body{
    background-color: black;
}

.logoFondo {
    opacity: 30%;
    position: fixed;
    z-index: -2;
    left: 20%;
    width: 80%;
}

h1.AcercaNosotros{
    text-align: center;
    position: fixed;
    left: 20%;
    top: 45%;
    width: 80%;
    font-family: Istok Web;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    opacity: 75%;
    color: white;
}

p.AcercaNosotros {
    text-align: center;
    margin-top: 1%;
    width: 80%;
    position: fixed;
    left: 20%;
    top: 65%;
    font-family: Roboto;
    font-size: 100%;
    opacity: 80%;
    color: white;
}

.Informacion{
    width: 100%;
    height: 100%;
    align-content: center;
}