@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet');

body{
    background-color: black;
}

.logoFondo {
    opacity: 30%;
    position: fixed;
    z-index: -2;
    left: 30%;
}

h1.AcercaNosotros{
    text-align: center;
    position: fixed;
    left: 48%;
    top: 45%;
    font-family: Istok Web;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    opacity: 75%;
    color: white;
}

p.AcercaNosotros {
    text-align: center;
    width: 40%;
    position: fixed;
    left: 42%;
    top: 65%;
    font-family: Roboto;
    font-size: 100%;
    opacity: 80%;
    color: white;
}