

h2 {
  text-align: center;
  padding-top: 0.7%;
  font-size: 2rem;
  padding-bottom: 1%;
font-style: normal;
font-weight: bold;
font-family: 'Istok Web', sans-serif;
}

h3{
  font-family: 'Istok Web', sans-serif;
}
button{
  font-family: 'Montserrat', sans-serif;
}
.discusion {
  width: 65%;
  height: 85%;
  /*background: #cfcfcf;*/
  position: relative;
  margin: auto;
  border-radius: 1%;
  background-image: linear-gradient( to bottom, #7e7e7e, #232526);
  border-style: none;
}

.name{
  left: 5%;
  top: 5%;
  position: relative;
  color: #000000;
}
input{
  left: 5%;
  top:5%;
  position: relative;
  border-radius: 5%;
  width: 80%;
  height: 10%;
  border: 0;
  margin-top:1%;
}
.buscar{
  width: 16%;
  height: 8%;
  background-color: #FF9F1C;
  border-style: none;
  left: 64%;
  margin-top: 2%;
  position: relative;
  font-weight: 900;
}

button:hover{
  cursor: pointer;
}

textarea{
  left: 5%;
  top:5%;
  position: relative;
  border-radius: 5%;
  width: 80%;
  height: 28%;
  border: 0;
  margin-top:1%;
}
.disc{
  left: 5%;
  position: relative;
  color: #000000;
}
.cancelar{
  background-color: #FF9F1C;
  border-style: none;
  left: 30%;
  position: relative;
  font-weight: 900;
  width: 16%;
  height: 8%;
  margin-top: 2%;
}
.publicar{
  background-color: #FF9F1C;
  border-style: none;
  left: 40%;
  position: relative;
  font-weight: 900;
  width: 16%;
  height: 8%;
  margin-top: 2%;
}
