

h2 {
  text-align: center;
  padding-top: 0.7%;
  font-size: 2rem;
  padding-bottom: 1%;
  font-style: normal;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;
  text-shadow: 0px 4px 4px rgba(20, 20, 20, 0.637);
}

h3{
  font-family: 'Istok Web', sans-serif;
  color: #ffffff;
  
}
button{
  font-family: 'Montserrat', sans-serif;
}
.contacto {
  width: 65%;
  height: 70%;
  /*background: #cfcfcf;*/
  position: relative;
  margin: auto;
  border-radius: 1%;
  background-image: linear-gradient( to bottom, #7e7e7e, #232526);
  border-style: none;
}

.asunto{
  left: 8%;
  top: 5%;
  position: relative;
}

.i_asunto{
  left: 8%;
  top:5%;
  position: relative;
  border-radius: 5px;
  width: 80%;
  height: 10%;
  border: 0;
  margin-top:1%;
  padding: .5rem;
}

textarea{
  left: 8%;
  top:5%;
  position: relative;
  border-radius: 5px;
  width: 80%;
  height: 28%;
  border: 0;
  margin-top:1%;
  padding: .5rem;
}

.consulta{
  left: 8%;
  position: relative;
}
.cancelar{
  background-color: #FF9F1C;
  border-style: none;
  left: 30%;
  position: relative;
  font-weight: 900;
  width: 16%;
  height: 8%;
  margin-top: 2%;
}

.cancelar:hover{
    cursor: pointer;
}
.enviar{
  background-color: #FF9F1C;
  border-style: none;
  left: 40%;
  position: relative;
  font-weight: 900;
  width: 16%;
  height: 8%;
  margin-top: 2%;
}

.enviar:hover{
    cursor: pointer;
}

.fondo{
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

.modal{
    position: absolute;
    text-align: center;
    padding: 2rem;
    top: 25%;
    left:30%;
    width: 40%;
    height: 35%;
    background-color: #000000;
    border-style: solid; 
    z-index: 1;
}
.modal h4{
    margin-top: 5%;
}
.modal .guardar{
    appearance:none;
    border-style: none;
    position: relative;
    width: 30%;
    margin-top: 10%;
    height: 25%;
    background-color:  var(--main-orange);
}

.modal .guardar:hover{
    cursor: pointer;
}

